<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <a href="http://localhost:15119/home/index">Home</a>
    <a href="http://localhost:15119/bmw/index">BMW</a>
    <a href="http://localhost:15119/mercedes/index">Mercedes</a>
    @RenderBody()


</body>
</html>
